
@{
    ViewBag.Title = "Login";
}
@model  Models.User

<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", null, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-default"/>
        </div>
    </div>
}